<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.quotamanagement.quotamanagement.mapper.QuotaAccountMapper">

    <resultMap id="BaseResultMap" type="com.example.model.QuotaAccount">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="tnt_inst_id" property="tntInstId" jdbcType="VARCHAR" />
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
        <result column="account_no" property="accountNo" jdbcType="VARCHAR" />
        <result column="account_type" property="accountType" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="currency" property="currency" jdbcType="VARCHAR" />
        <result column="quota_upper_limit" property="quotaUpperLimit" jdbcType="BIGINT" />
        <result column="used_quota" property="usedQuota" jdbcType="BIGINT" />
        <result column="reserve_quota" property="reserveQuota" jdbcType="BIGINT" />
    </resultMap>

    <!-- 查询额度账户信息通过ID -->
    <select id="getQuotaAccountById" resultMap="BaseResultMap">
        SELECT
        id,
        tnt_inst_id,
        gmt_create,
        gmt_modified,
        account_no,
        account_type,
        user_id,
        status,
        currency,
        quota_upper_limit,
        used_quota,
        reserve_quota
        FROM
        quota_account
        WHERE
        id = #{id}
    </select>


    <!-- 查询额度账户信息通过ID -->
    <select id="lockByAccountNo" resultMap="BaseResultMap">
        SELECT
        id,
        tnt_inst_id,
        gmt_create,
        gmt_modified,
        account_no,
        account_type,
        user_id,
        status,
        currency,
        quota_upper_limit,
        used_quota,
        reserve_quota
        FROM
        quota_account
        WHERE
        account_no = #{accountNo}
        FOR UPDATE
    </select>

    <!-- 查询额度账户信息通过ID -->
    <select id="getByAccountNo" resultMap="BaseResultMap">
        SELECT
        id,
        tnt_inst_id,
        gmt_create,
        gmt_modified,
        account_no,
        account_type,
        user_id,
        status,
        currency,
        quota_upper_limit,
        used_quota,
        reserve_quota
        FROM
        quota_account
        WHERE
        account_no = #{accountNo}
    </select>

    <!-- 插入额度账户信息 -->
    <insert id="insertQuotaAccount" parameterType="com.example.model.QuotaAccount">
        INSERT INTO quota_account (tnt_inst_id, account_no, account_type, user_id, status, currency, quota_upper_limit, used_quota, reserve_quota)
        VALUES (#{tntInstId}, #{accountNo}, #{accountType}, #{userId}, #{status}, #{currency}, #{quotaUpperLimit}, #{usedQuota}, #{reserveQuota})
    </insert>

    <!-- 更新额度账户信息 -->
    <update id="updateQuotaAccount" parameterType="com.example.model.QuotaAccount">
        UPDATE quota_account
        SET
        tnt_inst_id = #{tntInstId},
        account_no = #{accountNo},
        account_type = #{accountType},
        user_id = #{userId},
        status = #{status},
        currency = #{currency},
        quota_upper_limit = #{quotaUpperLimit},
        used_quota = #{usedQuota},
        reserve_quota = #{reserveQuota},
        gmt_modified = CURRENT_TIMESTAMP
        WHERE
        id = #{id}
    </update>

    <!-- 删除额度账户信息 -->
    <delete id="deleteQuotaAccountById">
        DELETE FROM quota_account WHERE id = #{id}
    </delete>

    <!-- 根据条件查询额度账户信息 -->
    <select id="queryByCondition" parameterType="java.util.Map" resultType="com.example.model.QuotaAccount">
        SELECT
        id,
        tnt_inst_id,
        gmt_create,
        gmt_modified,
        account_no,
        account_type,
        user_id,
        status,
        currency,
        quota_upper_limit,
        used_quota,
        reserve_quota
        FROM
        quota_account
        WHERE
        <if test="userId != null">
            user_id = #{userId}
        </if>
        <if test="quotaAccountType != null">
            AND account_type = #{quotaAccountType}
        </if>
    </select>

</mapper>
