<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.quotamanagement.quotamanagement.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.model.User">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="tnt_inst_id" property="tntInstId" jdbcType="VARCHAR" />
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
    </resultMap>

    <!-- 锁定用户信息通过ID -->
    <select id="lockById" resultMap="BaseResultMap">
        SELECT
        id,
        tnt_inst_id,
        gmt_create,
        gmt_modified,
        name,
        email,
        status
        FROM
        user
        WHERE
        id = #{id}
        FOR UPDATE
    </select>


    <!-- 查询用户信息通过ID -->
    <select id="getUserById" resultMap="BaseResultMap">
        SELECT
        id,
        tnt_inst_id,
        gmt_create,
        gmt_modified,
        name,
        email,
        status
        FROM
        user
        WHERE
        id = #{id}
    </select>

    <!-- 插入用户信息 -->
    <insert id="insertUser" parameterType="com.example.model.User">
        INSERT INTO user (tnt_inst_id, name, email, status)
        VALUES (#{tntInstId}, #{name}, #{email}, #{status})
    </insert>

    <!-- 更新用户信息 -->
    <update id="updateUser" parameterType="com.example.model.User">
        UPDATE user
        SET
        tnt_inst_id = #{tntInstId},
        name = #{name},
        email = #{email},
        status = #{status},
        gmt_modified = CURRENT_TIMESTAMP
        WHERE
        id = #{id}
    </update>

    <!-- 删除用户信息 -->
    <delete id="deleteUserById">
        DELETE FROM user WHERE id = #{id}
    </delete>

</mapper>
